<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourname.mega">

    <application
        android:allowBackup="true"
        android:label="MEGA"
        android:icon="@mipmap/ic_launcher">
        <activity android:name="com.getcapacitor.BridgeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- Example permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Add more only if you need them -->
</manifest>
